<div class="container">
	<h2>Adding Book <%= link_to "Back", category_path(@category), class: "btn btn-success pull-right" %></h2><hr/>
	<div class="col-md-8 col-md-offset-2">
		<%= render "categories/form" %>
	</div>
</div>